<!DOCTYPE html> <!-- this is identical to book_routes.html which we deleted-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> Hello World</h1>

    <p> {{message}} </p>  <!--jinji template syntax: message is the var called in book_routes.py Useful eg if want to say "here soem books, Al, or Theda, ofr "X" for flx ... of coding -->


    <ul>
        <li> Item 1 </li>
        <li> Item 2 </li>
        <li> Item 3 </li>

    </ul>

</body>

</html>