<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <h1>New Book Page</h1>

    <p>Please fill out the form and submit to create a new book!</p>

    <form action="/books/create" method="POST"> <!-- action (& method) attrib(s) of FORM ELEMENT .. WE'LL ISSUE A "POST" REQ TO SEND THIS POST TO OUR OWN ROUTE /books/create-->
                                                <!-- we'll set up a corrspndg rte to handle this POST req th@ we'll snd-->
        <label>Title:</label>
        <input type="text" name="book_title" placeholder="Book XYZ" value="Book XYZ"> <!-- vals submitted will be inputed when form submits its data; line 22 select name="author_name".. refers to this input val BookXYZ-->

        <label>Author:</label>
        <select name="author_name"> <!-- SELECT ELEMENT: drop down menu w/options; name attrib of the input ele yr wrkg w/specs the KEY for the corr VAL in the dict that gets transmitted thru a POST req-->
                                    <!-- our form specs what the KEYS should be, eg author_name is the attrib name/KEY of our selected author" -->
          <option value="A1">Author 1</option>  <!-- line 22 select name="author_name".. refers to this input val A1-->
          <option value="A2">Author 2</option>  <!-- ea option is its own element-->
          <option value="A3">Author 3</option>
        </select>

        <button>Submit</button>
    </form>

</body>

</html>